* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}

body {
	font-size: 14px;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

/* grid */
.container {
	margin: 0 auto;
	overflow-x: hidden;
}

.row {
	margin-right: -3.33333333%;
	overflow-x: hidden;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	position: relative;
	min-height: 1px;
	float: left;
	margin-right: 3.33333333%;
}

.col-12 {
	width: 96.66666667%;
}

.col-11 {
	width: 88.33333333%;
}

.col-10 {
	width: 80%;
}

.col-9 {
	width: 71.66666667%;
}

.col-8 {
	width: 63.33333333%;
}

.col-7 {
	width: 55%;
}

.col-6 {
	width: 46.66666667%;
}

.col-5 {
	width: 38.33333333%;
}

.col-4 {
	width: 30%;
}

.col-3 {
	width: 21.66666667%;
}

.col-2 {
	width: 13.33333333%;
}

.col-1 {
	width: 5%;
}

.col-offset-12 {
	margin-left: 100%;
}

.col-offset-11 {
	margin-left: 91.66666667%;
}

.col-offset-10 {
	margin-left: 83.33333333%;
}

.col-offset-9 {
	margin-left: 75%;
}

.col-offset-8 {
	margin-left: 66.66666667%;
}

.col-offset-7 {
	margin-left: 58.33333333%;
}

.col-offset-6 {
	margin-left: 50%;
}

.col-offset-5 {
	margin-left: 41.66666667%;
}

.col-offset-4 {
	margin-left: 33.33333333%;
}

.col-offset-3 {
	margin-left: 25%;
}

.col-offset-2 {
	margin-left: 16.66666667%;
}

.col-offset-1 {
	margin-left: 8.33333333%;
}

.col-offset-0 {
	margin-left: 0;
}

.row-offset-11 {
	margin-right: -1897%;
}

.row-offset-10 {
	margin-right: -649.6%;
}

.row-offset-9 {
	margin-right: -361.4%;
}

.row-offset-8 {
	margin-right: -233.3%
}

.row-offset-7 {
	margin-right: -160.9%;
}

.row-offset-6 {
	margin-right: -114.3%;
}

.row-offset-5 {
	margin-right: -81.8%;
}

.row-offset-4 {
	margin-right: -57.88%;
}

.row-offset-3 {
	margin-right: -39.55%;
}

.row-offset-2 {
	margin-right: -25%;
}

.row-offset-1 {
	margin-right: -13.21%;
}

.row-offset-0 {
	margin-right: -3.43%;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	display: table;
	content: " ";
}

.container:after,
.container-fluid:after,
.row:after {
	clear: both;
}

/* grid */

#ajax-templates {
	display: none !important;
}

#login-button,
#logout-button {
	bottom: 0;
	cursor: pointer;
	height: 40px;
	position: fixed;
	right: 0;
	width: 40px;
	z-index: 10;
	background: none;
	border: 0;
}

#logout-button {
	left: 0;
}

/* window */
.window {
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: rgb(0, 0, 0) -3px 0px 50px 0px;
	left: 50%;
	position: fixed;
	top: 50%;
	width: 1000px;
	margin-left: -500px;
	z-index: 100;
	opacity: 0;
}

.window .close-window {
	width: 27px;
	height: 27px;
	position: absolute;
	top: -11px;
	right: -12px;
	background: url(../images/window/close.png) no-repeat center top transparent;
	outline: none;
	cursor: pointer;
}

.window .title {
	font-size: 20px;
	line-height: 20px;
	padding: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.window .scroll-container {
	border: solid #c9c9c9;
	border-width: 1px 0;
	padding: 10px 20px;
}

.window .footer {
	height: 80px;
	padding: 20px;
}

.window .error {
	color: #F00;
	font-size: 12px;
	display: none;
}

.window .button {
	text-transform: uppercase;
	text-align: center;
	color: #fff !important;
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-weight: 700;
	background: url(../images/window/button.png) no-repeat center 0 transparent;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.window .button:hover {
	background-position-y: -40px;
}

.overlay {
	background: #fff;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.window-bottom {
	position: absolute;
	left: 20px;
	bottom: 30px;
}

.window-level-2 {
	z-index: 110;
}

.overlay-level-2 {
	z-index: 109;
}

/* window */