post_max_size=512M
upload_max_filesize=512M
memory_limit=512M

AddDefaultCharset utf8
php_flag register_globals 0

RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]